{% extends 'base.html' %}
{% block header %}
	{{ block.super }}
{% endblock header %}

{% block connexion %}
{% endblock connexion%}


{% block departement %}
<section id="content">
	<div class="inside">
	

		<h2><center><span>Informations de connexion</span></center></h2>
		<p>Cette <span class="txt1">bibliothèque</span> est entièrement conçue par des étudiants, stagiaires, en 3ème année licence de <span class="txt1">Télecommunication & Reseau</span> et <span class="txt1">Génie informatique</span> de l’École Communautaire de l’Enseignement Supérieur(<a href="http://www.eces-online.org/">ECES</a>); est destinée uniquement aux étudiantes et étudiants de cette université. Pour consulter, télécharger, les documents contenus dans cette <span class="txt1">bibliothèque</span>, rapprochez vous à la  Scolarité de cette université pour plus d'informations.</p>
		<form method="post" id="contacts-form">
			{% csrf_token %}
			<fieldset>
				<div class="field">
					<label>
						{{ form.as_p }}
						
						<input type="submit" value="Se Connecter">
					</label>
				</div>
			</fieldset>
		</form>
	</div>
</section>

{% endblock departement %}

{% block filiere %}
{% endblock filiere %}