{% extends 'base.html' %}
{% block header %}
	{{ block.super }}
{% endblock header %}

{% block connexion %}
{% endblock connexion%}


{% block departement %}
<section id="content">
	<div class="inside">
	

		<h2><span>Informations sur L'Equipe</span></h2>
		<p>A la fin de notre parcours academique 2017-2018,nous etudiant et etudiante Yann Nkongo et elda Loussilaho en licence III de Telecommunication & reseau et Genie informatique de la 16eme promotions avons passer un stage à l’École Communautaire de l’Enseignement Supérieur(<a href="http://www.eces-online.org/">ECES</a>),puis avons conçue une bibliotheque pour l'ecole avec l'aide de notre professeur <span class="txt1">Mr Bah</span>.Cette bibliotheque est conçue pour les etudiants et etudiantes de Eces uniquement,et est a la portée de tout les niveaux 1er 2eme et 3eme année toutes filieres confondus.pour plus d'information rapprochez vous de la scolarité...			</p>
		
	</div>
</section>

{% endblock departement %}

{% block filiere %}
{% endblock filiere %}





