{% extends 'base.html' %}

{% block header %}
	{{ block.super }}
{% endblock header %}

{% block connexion %}
  
{% endblock connexion %}


{% block departement %}
<section id="content">
	<div class="inside">
	<div class="categories">

		<h2><span>Titre: {{ filiere.libelle }}</span> </h2>
		<h3><span>Description:</span> </h3>
		<p>{{ filiere.description }}</p>

		<h3><span>Documents associés:</span></h3>
		{% for document in filiere.document_set.all %}
			<ul>
				<li><a href="{% url 'document_detail' document.pk %}">{{ document.titre|lower }}</a></li>


		{% empty %}
				<li>Aucun document associé</li>
			</ul>
		{% endfor %}
	
		</div>
	</div>
</section>

{% endblock departement %}

{% block filiere %}
{% endblock filiere %}